// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #F2F2F3;
$primary-500: #3C9E26;
$primary-300: #257A13;
$secondary: #134A08;

a .nav-link {
  color: black;
}

.top-header {
  background-color: #ffffff;
  height: 115px;
  display: flex;
  align-items: center;
  .top-header-contact {
    a {
      color: black !important;
      .btn-contact {
        background-color: $primary-500;
        width: 100px;
        height: 50px;
        color: #ffffff;
      }
    }

  }
}

.top-logo {
  width: 240px;
  height: 100px;
}